<body>
    <h4>Request List</h4>
    <p style="font-weight: 500;">
        <a routerLink= "/requests/create">Create New Request</a>
    </p>
    <table class="table table-sm">
        <thead>
            <tr class="headers">
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.justification}}</td>
                <td>{{request.deliveryMode}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
                <td>{{request.user.username}}</td>
                <td>
                    <a routerLink= "/requests/details/{{request.id}}">Detail</a> | <a routerLink= "/requests/edit/{{request.id}}">Edit</a> | <a routerLink="/requests/lines/{{request.id}}">Lines</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

