<h4>User Detail</h4>
<p style="font-weight: 500">
    <a routerLink= "/users/list">Back to List</a>
</p>
<br>
<main>
    <form *ngIf="user">
        <table class="table table-sm" style="border: 1px solid black">
            <tbody>
                <tr>
                    <td class="headers">Id:</td>
                    <td>
                        <input id="xid" type="text" size=10 [(ngModel)]="user.id" name="userId" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Username:</td>
                    <td>
                        <input id="xusername" type="text" size=30 [(ngModel)]="user.username" name="username" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Password:</td>
                    <td>
                        <input id="xpwd" type="password" size=30 [(ngModel)]="user.password" name="password" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">First Name:</td>
                    <td>
                        <input id="xfname" type="text" size=30 [(ngModel)]="user.firstname" name="firstname" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Last Name:</td>
                    <td>
                        <input id="xlname" type="text" size=30 [(ngModel)]="user.lastname" name="lastname" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Phone:</td>
                    <td>
                        <input id="xphone" type="text" size=15 [(ngModel)]="user.phone" name="phone" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Email:</td>
                    <td>
                        <input id="xemail" type="text" size=50 [(ngModel)]="user.email" name="email" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Reviewer:</td>
                    <td>
                        <input id="xreviewer" type="checkbox" [(ngModel)]="user.isReviewer" name="reviewer" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">Admin:</td>
                    <td>
                        <input id="xadmin" type="checkbox" [(ngModel)]="user.isAdmin" name="admin" disabled>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a routerLink= "/users/edit/{{user.id}}">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>
            <span> | </span>
            <button (click)= "delete(user.id)" type="button" class="btn btn-danger">Delete</button>
        </div>
    </form>
</main>