<body>
    <h4>Requests to review</h4>
    <p style="font-weight: 500;">
        <a routerLink= "/requests/list">To All Requests List</a>
    </p>
    <table class="table table-sm">
        <thead>
            <tr class="headers">
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.justification}}</td>
                <td>{{request.deliveryMode}}</td>
                <td class="text-warning bold">{{request.status}}</td>
                <td>{{request.total | currency}}</td>
                <td>{{request.user.username}}</td>
                <td>
                    <a routerLink= "/requests/review/{{request.id}}">Review</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>


