<h4>Product Edit</h4>
<p style="font-weight: 500">
    <a routerLink= "/products/list">Back to List</a>
</p>
<br>
<main>
    <form *ngIf="product">
        <table class="table table-sm" style="border: 1px solid black">
            <tbody>
                <tr>
                    <td class="headers">Id:</td>
                    <td>
                        <input id="xid" type="number" size=10 [(ngModel)]="product.id" name="productId" disabled>
                    </td>
                </tr>
                <tr>
                    <td class="headers">PartNbr:</td>
                    <td>
                        <input id="xpartnbr" type="text" size=20 [(ngModel)]="product.partNbr" name="partNbr">
                    </td>
                </tr>
                <tr>
                    <td class="headers">Name:</td>
                    <td>
                        <input id="xname" type="text" size=30 [(ngModel)]="product.name" name="name">
                    </td>
                </tr>
                <tr>
                    <td class="headers">Price:</td>
                    <td>
                        <input id="xprice" type="number" size=10 [(ngModel)]="product.price" name="price">
                    </td>
                </tr>
                <tr>
                    <td class="headers">Unit:</td>
                    <td>
                        <input id="xunit" type="text" size=15 [(ngModel)]="product.unit" name="unit">
                    </td>
                </tr>
                <tr>
                    <td class="headers">Photopath:</td>
                    <td>
                        <input id="xphotopath" type="text" size=50 [(ngModel)]="product.photopath" name="photopath">
                    </td>
                </tr>
                <tr>
                    <td class="headers" for="xvendors">Choose a Vendor:</td>
                    <td>
                        <select id="xvendors" name="vendors" [(ngModel)]="product.vendorId">
                            <option *ngFor="let vendor of vendors" value={{vendor.id}}>{{vendor.name}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button (click)= "save()" type="button" class="btn btn-primary">Save</button>
        </div>
    </form>
</main>

