<body>
    <h4>Product List</h4>
    <p>
        <a routerLink= "/products/create">Create New Product</a>
    </p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>PartNbr</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Photopath</th>
                <th>Vendor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.partNbr}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price | currency}}</td>
                <td>{{product.unit}}</td>
                <td>{{product.photopath}}</td>
                <td>{{product.vendor.name}}</td>
                <td>
                    <a routerLink= "/products/details/{{product.id}}">Detail</a> | <a routerLink= "/products/edit/{{product.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
