nav {
    background-color: navy;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block
}

a {
    color: gold;
    text-decoration: none;
    padding: 0 20px 0 5px;
}

a:hover {
    color: rgb(231, 224, 224);
}

