nav {
    display: inline-block;
    background-color: navy;
    width: 80%;
    padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

#loggedInUser {
    width: 20%;
    display: inline-block;
    text-align: right;
    color: silver;
    background-color: navy;
    padding: 5px 10px 5px 5px;
}

a {
    color: gold;
    text-decoration: none;
    padding: 0 20px 0 5px;
}

a:hover {
    color: rgb(231, 224, 224);
}

