<body>
    <h4>Request Lines</h4>
    <a routerLink="/requests/list">Back to List</a>
    <br>
    <br>
    <h5>Request</h5>
    <br>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="request.user">
            <tr>
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
                <td>{{request.user.username}}</td>
                <td>
                    <a routerLink= "/requests/review/{{request.id}}">Review</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h5>Requestlines</h5>
    <br>
    <a routerLink= "/requestlines/create/{{request.id}}">Create</a>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rl of requestlines">
                <td>{{rl.id}}</td>
                <td>{{rl.product.name}}</td>
                <td>{{rl.quantity}}</td>
                <td>{{rl.product.price}}</td>
                <td>{{rl.quantity * rl.product.price}}</td>
                <td>
                    <a routerLink="/requestlines/edit/{{rl.id}}">Edit</a> | <a routerLink="/requests/lines/{{request.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>


