<body *ngIf="request">
    <h4>Request Lines</h4>
    <a routerLink="/requests/list" style="font-weight: 500;">Back to List</a>
    <br>
    <br>
    <h5>Request</h5>
    <br>
    <table class="table table-sm">
        <thead>
            <tr class="headers">
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="request.user">
            <tr>
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td [ngClass]="styleStatus">{{request.status}}</td>
                <td>{{request.total | currency}}</td>
                <td>{{request.user.username}}</td>
                <td>
                    <button (click)= "review(request)" type="button" class="btn btn-link">Review</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h5>Requestlines</h5>
    <br>
    <table class="table table-sm" style="width: 70%; border: 0;">
        <thead>
            <tr>
                <td><a routerLink= "/requestlines/create/{{request.id}}" style="font-weight: 500;">Create</a></td>
            </tr>
        </thead>
        <tbody style="border: 1px solid black">
            <tr class="headers">
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let rl of requestlines">
                <td>{{rl.id}}</td>
                <td>{{rl.product.name}}</td>
                <td>{{rl.quantity}}</td>
                <td>{{rl.product.price | currency}}</td>
                <td>{{rl.quantity * rl.product.price | currency}}</td>
                <td>
                    <button type="button" class= "btn btn-link">
                        <a routerLink="/requestlines/edit/{{rl.id}}">Edit</a>
                    </button> | <button (click)= "delete(rl.id)" type="button" class="btn btn-link">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>


