<form>
    <table class="table table-sm table-borderless">
        <tr class="mb-3">
            <th class="h3" colspan="2" style= "color: navy">PRS Login</th>
        </tr>
        <tr>
            <td class= "labels">Username:</td>
            <td>
                <input type="text" [(ngModel)]="username" size=25 name=username>
            </td>
        </tr>
        <tr>
            <td class= "labels">Password:</td>
            <td>
                <input type="password" [(ngModel)]="password" size=25 name=password>
            </td>
        </tr>
        <tr>
            <th class= "h3" style= "color: red" colspan="2">  {{warning}}  </th>
        </tr>
    </table>
    <br>
    <button (click)="logon()" type="button" class="btn btn-primary">Login</button>
</form>